.featured-item-container {
  border: none;
  width: 33%;
  margin: 1em;
  max-height: fit-content;
  img {
    width: 50%;
  }

  .featured-item-pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .was-price {
      text-decoration: line-through red;
      font-size: 1.2em;
    }

    .now-price {
      font-size: 2em;
    }
  }
}