@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Josefin+Sans&family=Source+Sans+Pro:wght@300;600&display=swap');


$primary-font: 'Josefin Sans', sans-serif;
$logo-font: 'Source Sans Pro', sans-serif;

$logo-color:rgb(238, 81, 81)